body {
       font-family: Arial, sans-serif;
       background-color: #f6f6f6;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
   }
   
   .container {
       background-color: rgb(32, 19, 58);
       padding: 20px;
       border-radius: 10px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       text-align: center;
       width: 300px;
   }
   
   input {
       padding: 10px;
       width: 90%;
       margin: 10px 0;
   }
   
   button {
       padding: 10px;
       margin: 5px;
       width: 45%;
       border: none;
       border-radius: 5px;
       color: white;
       font-size: 16px;
   }
   
   .btn-jumlah {
       background-color: #4CAF50;
   }
   
   .btn-reset {
       background-color: #f44336;
   }
   
   .hasil {
       margin-top: 20px;
       font-size: 18px;
   }
   




   body {
       background-color: #a2aaa8;
       font-family: Arial, sans-serif;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
   }
   
   .container {
       background-color: rgb(6, 109, 169);
       padding: 20px;
       border-radius: 10px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       text-align: center;
       width: 300px;
   }
   
   h2 {
       text-align: center;
       color: rgb(55, 47, 2);
       margin-bottom: 20px;
   }
   
   label {
       color: rgb(1, 6, 11);
       font-weight: bold;
       display: block;
       margin-bottom: 10px;
   }
   
   input, textarea {
       width: 100%;
       padding: 10px;
       margin-bottom: 15px;
       border-radius: 5px;
       border: none;
       box-sizing: border-box;
   }
   
   textarea {
       resize: none;
       height: 80px;
   }
   
   button {
       width: 100%;
       padding: 10px;
       background-color: #369cfb;
       color: rgb(9, 9, 9);
       border: none;
       border-radius: 5px;
       font-size: 16px;
       cursor: pointer;
   }
   
   button:hover {
       background-color: #24bcf3;
   }
   